* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #1e1e2e; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator-container {
    background-color: #EAEFEF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    width: 380px; 
}

.option-container {
    margin-left: 50px;
    margin-right: 50px;
}

.paradigms {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px;
    margin-bottom: 15px;
}

.paradigms button {
    padding: 10px;
    font-size: 0.75rem;
    cursor: pointer;    
    border-radius: 5px;
    background: #FFF4EA;
    border: 1px solid #ddd;
    font-weight: bold;
    transition: 0.3s;
}

.paradigms button:hover {
    background: #E8E2DB;
}

#set-display {
    color: #46c265;
    font-size: 0.9rem;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

#display {
    width: 100%;
    height: 70px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 1.8rem;
    text-align: right;
    padding: 10px;
    margin-bottom: 20px;
}

/* Keypads */
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 60px; 
    border-radius: 8px;
    border: none;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #f0f0f0;
}

button:active {
    transform: scale(0.95);
}


.operator-btn {
    background-color: #FF9B51;
    color: black;
}

#equal {
    background-color: #46c265;
    color: white;
}

#clr {
    background-color: #ff8a80;
    color: white;
}